@font-face {
    font-family: 'Hug';
    src: url('./fonts/hug.woff') format('woff'),
         url('./fonts/hug.woff2') format('woff2');
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: white;
    cursor: grab;
}

body {
    /* font-family: 'Concert One', cursive, monospace;
    font-family: 'Kanit', sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: rgb(8, 131, 149);
    height: 15vh;
    /* font-family: 'Concert One', cursive, monospace; */
    font-family: 'Hug', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 3rem;
    font-weight: bolder;
}

.main {
    min-height: 75vh;
    display: flex;
}

.sidebar, 
.home,
.projectForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.sidebar {
    width: 20vw;
    min-height: 75vh;
    background-color: rgb(10, 77, 104);
    font-family: 'Alata', sans-serif;
    font-size: 1rem;
    padding: 1rem;
    gap: 1.5rem;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    display: block;
    border-bottom: 2px solid white;
}

.all, .add-project, footer{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.projects {
    margin-top: 2rem;
}

.add-project svg {
    fill: white;
}

.content {
    width: 80vw;
    min-height: 75vh;
    background-color: #E7E5E4;
}

footer {
    /* margin-top: auto; */
    height: 10vh;
    background-color:  rgb(8, 131, 149);
    justify-content: center;
    align-items: center;
    font-family: 'Hug', sans-serif;
}

footer img {
    width: 2rem;
    height: 2rem;
}

/* project form */
.add-project {
    padding: 10px;
}

.add-project:hover {
    background-color: rgb(8, 131, 149);
    cursor: pointer;
}

.projectContent {
    
}

.projectForm {
    padding: 0.5rem;
    background-color: #E7E5E4;
    border-radius: 5px;
    gap: 1rem;
}

.projectInput {
    display: block;
    padding: 0.5rem;
    border: none;
}

.btnContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.createBtn,
.cancelBtn {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.createBtn:hover,
.cancelBtn:hover {
    cursor: pointer;
}

.createBtn {
    background-color: rgb(8, 131, 149);
}

.cancelBtn {
    background-color: rgb(238, 37, 37);
}